<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FCC-Stock Chart App</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css" type="text/css" rel="stylesheet">
</head>
<body>
  <section class="hero  is-light is-bold">
    <div class="hero-body">
      <div class="container">

        <div class="columns">
          <div class="column is-6 is-offset-3">
            <a class="button is-success is-outlined is-small" id="oneWeek">1 Week</a>
            <a class="button is-success is-outlined is-small" id="oneMonth">1 Month</a>
            <a class="button is-success is-outlined is-small" id="sixMonths">6 Months</a>
            <a class="button is-success is-outlined is-small" id="oneYear">1 Year</a><br>
            <div id="chartContainer">
            <canvas id="stockChart" width="700" height="500"></canvas>
            </div>
          </div>
        </div>
          <div class="columns">
            <div class="column is-4 is-offset-4">
              <p id="failed"></p><br>
              <div id="inputStock" class="field has-addons">
                <div class="control">
                  <input type="text" id="stockInput" placeholder="Stock symbol" class="input"/>
                </div>
                <div class="control">
                  <a id="stockBtn" class="button is-info">Get Stock</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="hero is-medium is-success is-bold">
      <div class="hero-body">
        <div class="container">
          <div id="currentData">
          </div>
        </div>
      </div>
  </section>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" /></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js" /></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
$(document).ready(() => {
	let socket = io.connect('https://stockchart-jluboff.herokuapp.com/');

	let stockSymbol = document.getElementById('stockInput'),
		btnAdd = document.getElementById('stockBtn'),
		failed = document.getElementById('failed'),
		output = document.getElementById('currentData'),
    oneWeek = document.getElementById('oneWeek'),
    oneMonth = document.getElementById('oneMonth'),
    oneYear = document.getElementById('oneYear'),
    sixMonths = document.getElementById('sixMonths');

	const displayStocks = () => {
		$.getJSON(`/getCurrent`, currentData => {
			let displayDataStartDiv = `<div class="columns">`,
				displayDataEndDiv = `</div>`,
				displayData = [],
				displayOutput = '';

			currentData.forEach(el => {
				displayData.push(`<div class="column is-3">
          <article class="message is-info">
          <div class="message-header">
          <p>${el.symbol}</p>
          <button class="delete is-small" id="${el.symbol}"></button>
          </div>
          <div class="message-body">
          Prior Day Closing Price: ${el.stockData[0][1]}
          </div>
          </article>
          </div>
          `);
			});

			displayOutput += displayDataStartDiv;
			displayData.forEach((out, i) => {
				if (i % 4 === 0) {
					displayOutput += `</div><div class="columns">`;
					displayOutput += out;
				} else {
					displayOutput += out;
				}
			});
			displayOutput += displayDataEndDiv;
			$('#currentData').empty();
			output.innerHTML += displayOutput;
		});
	};

	const createChart = timeLength => {

		$.getJSON(`/chartData/${timeLength}`, chartData => {
      console.log(chartData);
			let obj = [],
				label = [];

			chartData[0].stockData.forEach(el => {
				label.unshift(el[0]);
			});
			chartData.forEach(el => {
				let labels = [],
					data = [];

				el.stockData.forEach(stock => {
					labels.unshift(stock[0]);
					data.unshift(stock[1]);
				});
				obj.push({
					label: el.symbol,
					fill: false,
					borderColor: el.color,
					data: data
				});
			});
     $('#chartContainer').empty();
     $('#chartContainer').append(`<canvas id="stockChart" width="700" height="500"></canvas>`);

			const ctx = document.getElementById('stockChart').getContext('2d');
			window.chart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: label,
					datasets: obj
				},
				options: {
					responsive: true
				}
			});
		});
	};

	btnAdd.addEventListener('click', () => {
		socket.emit('getStock', stockSymbol.value);
	});

  oneWeek.addEventListener('click', () =>{
    createChart(moment().subtract(1, 'w').format('YYYY-MM-DD'));
  });

  oneMonth.addEventListener('click', () =>{
    createChart(moment().subtract(1, 'M').format('YYYY-MM-DD'));
  });

  sixMonths.addEventListener('click', () =>{
    createChart(moment().subtract(6, 'M').format('YYYY-MM-DD'));
  });

  oneYear.addEventListener('click', () =>{
    createChart();
  });

	$(document).on('click', '.delete', e => {
		socket.emit('deleteStock', e.target.id);
	});

	socket.on('getStock', data => {
		if ($.isArray(data) && data[1] === socket.id) {
			$('#failed').empty();
			return (failed.innerHTML += `<span id="failed" class="tag is-danger">${data[0]}</span>`);
		}

		$('#failed').empty();
		displayStocks();
		createChart();
	});

	socket.on('deleteStock', data => {
		displayStocks();
		createChart();
	});

	displayStocks();
	createChart();
});
</script>
</body>
</html>
