<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FCC-Stock Chart App</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div id="inputStock">
  <input type="text" id="stockInput" placeholder="Stock symbol" />
  <button id="stockBtn">Get Stock</button>
</div>
<div id="stockBox"></div>
<div id="currentData">{{#each docs}}
    <p><strong>{{symbol}}:</strong> {{stockData.[0].[1]}}</p>
    {{/each}}
</div>
<div class="columns">
  <div class="column is-6">
<canvas id="stockChart" width="100" height="100"></canvas>
</div></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" /></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script>
    let socket = io.connect('http://localhost:3000');

    let stockSymbol = document.getElementById('stockInput'),
        btn = document.getElementById('stockBtn'),
        output = document.getElementById('stockBox');

    btn.addEventListener('click', () => {

        socket.emit('getStock', stockSymbol.value)
    });

    socket.on('getStock', (data) => {
      console.log(data.stockData[0][1]);
      //createChart(data.dataset.data);
      output.innerHTML += `<p><strong> ${data.symbol}:</strong> ${data.stockData[0][1]} </p>`;
      let label = [];
      let stockPrice = [];

      data.stockData.forEach(el => {
      //  console.log(el);
        label.unshift(el[0]);
        stockPrice.unshift(el[1]);
      });
      console.log(label, stockPrice);
      createChart(label, stockPrice, data.symbol);
    })

    const createChart = (label, stockPrice, symbol) => {
      const ctx = document.getElementById('stockChart').getContext('2d');
      const chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: label,
          datasets: [{
            label: symbol,
            fill: false,
            data: stockPrice
          }]
        }
      })
    };
    /*var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "My First dataset",
                fill: false,
                data: [0, 10, 5, 2, 20, 30, 45],
            },
          {
            label: 'Second Dataset',
            fill: false,
            data: [12, 5, 20, 35, 6, 50, 0]
          }]
        },

        // Configuration options go here
        options: {}
    }); */
    </script>
</body>
</html>
