<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FCC-Stock Chart App</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div id="inputStock">
  <input type="text" id="stockInput" placeholder="Stock symbol" />
  <button id="stockBtn">Get Stock</button>
</div>
<div id="stockBox"></div>

<canvas id="myChart" width="400" height="400"></canvas>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" /></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script>
    let socket = io.connect('http://localhost:3000');

    let stockSymbol = document.getElementById('stockInput'),
        btn = document.getElementById('stockBtn'),
        output = document.getElementById('stockBox');

    btn.addEventListener('click', () => {
        socket.emit('getStock', stockSymbol.value)
    });

    socket.on('getStock', (data) => {
      console.log(data.dataset.data[0][1]);
      output.innerHTML += `<p><strong> ${data.dataset.dataset_code}:</strong> ${data.dataset.data[0][1]} </p>`;
    })
    </script>
    <!--<script>
      $(document).ready(function(){
      console.log('Tessft');
    //  console.log({{data}})

    var ctx = document.getElementById("myChart").getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data:{
        datasets:
          data: [{
        x: '2017-08-09',
        y:171.18 },
  {
    x:'2017-08-08',
    y:171.23 },
  { x:'2017-08-07',
  y:171.98 }]}
    })
    })
  </script> -->
</body>
</html>
